{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
        <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
        {% csrf_token %}
        <div class="row">
                <input type="passowrd" name="password1" autocomplete="new-password" placeholder="New Password" required_id="id_password1"
                    class="col m10 push-m1 s12 form-input">
        </div>
        <div class="row">
                <input type="passowrd" name="password2" required_id="id_password2" placeholder="New Password (again)" class="form-input col m10 push-m1 s12"
                    aria-autocomplete="list">
        </div>
        <button class="btn right">{% trans 'Change Password' %}</button>
    </form>
    {% endif %}
</div>
{% endblock content %}
