{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container" style="width: fit-content; min-width: 50%;">
	<div class="row">
		<div class="col-md-8 mt-3 offset-md-2">
			<h3>{% trans "Sign Up" %}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 mt-3 offset-md-2">

			<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"
					class="hightlight-link">Sign In</a>.{% endblocktrans %}</p>

			<form class="signup" id="signup_form" data-providers-url="{% url 'load_providers' %}" method="post" action="{% url 'account_signup' %}">
				{% csrf_token %}
				{{ form.as_p }}
				<!-- <div class="row">
					<label class="col l3 s12" for="{{ field.auto_id }}">{{ form.country.label }}</label>
					{{ form.country }}
				</div>
				<div class="row">
					<label class="col l3 s12" for="{{ field.auto_id }}">{{ form.streams.label }}</label>
					{{ form.streams }}
				</div> -->
				{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
			</form>
		</div>
	</div>
</div>

{% endblock content %}
