{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container margin-top-25 signup-container">
	<div class="row">
		<div class="col-md-8 mt-3 offset-md-2">
			<h3>{% trans "Sign Up" %}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 mt-3 offset-md-2">

			<form class="signup" id="signup_form" data-providers-url="{% url 'load_providers' %}" method="post"
				action="{% url 'account_signup' %}">
				{% csrf_token %}
				<div class="row">
					<div class="col m6 s12">
						<div class="row">
							<label class="col l4 s12" for="{{ field.auto_id }}">{{ form.first_name.label }}</label>
							<div class="col l7 push-l1 s12">
								{{ form.first_name }}
							</div>
						</div>
						<div class="row">
							<label class="col l4 s12" for="{{ field.auto_id }}">{{ form.last_name.label }}</label>
							<div class="col l7 push-l1 s12">
								{{ form.last_name }}
							</div>
						</div>
						<div class="row">
							<label class="col l4 s12" for="{{ field.auto_id }}">{{ form.country.label }}</label>
							<div class="col l7 push-l1 s12 padding-right-0">
								{{ form.country }}
							</div>
						</div>
						<div class="row">
							<label class="col l4 s12" for="{{ field.auto_id }}">{{ form.streams.label }}</label>
							<div class="col l7 push-l1 s12 padding-right-0">
								{{ form.streams }}
							</div>
						</div>
					</div>
					<div class="col m5 push-m1 s12">
						<div class="row">
							<label class="col l4 m12" for="{{ field.auto_id }}">{{ form.username.label }}</label>
							<div class="col l7 push-l1 s12">
								{{ form.username }}
							</div>
						</div>
						<div class="row">
							<label class="col l4 m12" for="{{ field.auto_id }}">Email</label>
							<div class="col l7 push-l1 s12">
								{{ form.email }}
							</div>
						</div>
						<div class="row">
							<label class="col l4 s12" for="{{ field.auto_id }}">{{ form.password1.label }}</label>
							<div class="col l7 push-l1 s12">
								{{ form.password1 }}
							</div>
						</div>
						<div class="row">
							<label class="col l4 s12" for="{{ field.auto_id }}">{{ form.password2.label }}</label>
							<div class="col l7 push-l1 s12">
								{{ form.password2 }}
							</div>
						</div>
					</div>
				</div>
				{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<p>{% blocktrans %}Already have an account? Then please <span class="hightlight-link inline-block"><a
							href="{{ login_url }}">Sign In</a></span>.{% endblocktrans %}</p>
				<div class="row">
					<button class="btn col xl2 push-xl8 l3 push-l8 m4 push-m7 s10 push-s1 margin-top" type="submit">
						{% trans "Sign Up" %} &raquo;
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock content %}
