{% extends 'mylists.html' %}
{% load static %}

{% block list %}

{% for list_item in in_list reversed %}
<div class="{% if list_item.type == 0 %}movies-list{% else %}shows-list {% endif %} carousel-item relative listed-title col xl3 m4 s6">
    <img src="{{ POSTER_PATH }}{{ list_item.poster_link }}" alt="{{ list_item.title }} movie poster"
        class="movie-poster" data-titleID="{{ list_item.title_id }}"
        data-titleType="{{ list_item.type }}">
    <button type="submit" value="" class="remove-one-title absolute remove-from-list" data-titleID="{{ list_item.title_id }}">
        <i class="far fa-times-circle"></i>
    </button>
</div>
{% endfor %}

{% endblock %}