{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col l2 push-l1 s12">
        <div class="row">
            <form method="post" class="col l12 m3 push-m8 s6 push-s5 type-choice">
                {% csrf_token %}
                <div class="row main-select individual-select list-type">
                    {{ source_form.type}}
                    {{ source_form.load_all}}
                </div>
            </form>
        </div>
        <ul class="lists-menu row">
            <a href="#" class="col l12 m3 s2 push-s2 center-align list-active">
                <i class="far fa-heart hide-on-med-and-up"></i>
                <li class="hide-on-small-only">Favourite</li>
            </a>
            <a href="#" class="col l12 m3 s2 push-s2 center-align">
                <i class="fas fa-plus hide-on-med-and-up"></i>
                <li class="hide-on-small-only">Watchlist</li>
            </a>
            <a href="#" class="col l12 m3 s2 push-s2 center-align">
                <i class="fas fa-check hide-on-med-and-up"></i>
                <li class="hide-on-small-only">Seen It</li>
            </a>
            <a href="#" class="col l12 m3 s2 push-s2 center-align">
                <i class="fas fa-times hide-on-med-and-up"></i>
                <li class="hide-on-small-only">Don't Show</li>
            </a>
        </ul>
    </div>
    <div class="col l9 push-l1 s12">
        <div class="container list-container row relative">
            {% for list_item in in_list reversed %}
            {% if list_item.type == 0 %}
            <div class="relative">
                <form action="{% url 'delete_favourite' list_item.title_id %}" method="post"
                    class="movies-list carousel-item relative">
                    {% csrf_token %}
                    <img src="{{ POSTER_PATH }}{{ list_item.poster_link }}" alt="{{ list_item.title }} movie poster"
                        class="movie-poster col xl3 m4 s6" data-titleID="{{ list_item.title_id }}"
                        data-titleType="{{ list_item.type }}">
                    <button type="submit" value="" class="remove-one-title absolute">
                        <i class="far fa-times-circle"></i>
                    </button>
                </form>
            </div>

            {% else %}
            <div class="relative">
                <form action="{% url 'delete_favourite' list_item.title_id %}" method="post" class="shows-list carousel-item relative">
                    {% csrf_token %}
                    <img src="{{ POSTER_PATH }}{{ list_item.poster_link }}" alt="{{ list_item.title }} movie poster"
                        class="movie-poster col xl3 m4 s6" data-titleID="{{ list_item.title_id }}"
                        data-titleType="{{ list_item.type }}">
                    <button type="submit" value="" class="remove-one-title absolute remove-favourite">
                        <i class="far fa-times-circle"></i>
                    </button>
                </form>
            </div>

            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block overlay %}
{% include 'overlay.html' %}
{% endblock %}