{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container relative margin-top-25">
    <h2 class="header-padding">Movie Roulette</h2>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <div class="col xl4 m6 s12">
                <div class="row main-select">
                    <label class="col xl3 push-xl2 m11 push-m1"
                        for="{{ field.auto_id }}">{{ source_form.source.label }}</label>
                    {{ source_form.source}}
                </div>
            </div>
            <div class="col xl4 m6 s12">
                <div class="row main-select">
                    <label class="col xl3 push-xl2 m11 push-m1"
                        for="{{ field.auto_id }}">{{ source_form.type.label }}</label>
                    {{ source_form.type}}
                    {{ source_form.load_all}}
                </div>
            </div>
            <div class="col xl4 l12 m12 s12">
                <button class="btn btn-blue col xl8 push-xl2 m4 push-m4 s8 push-s2 waves-effect waves-green">Load
                    Roulette</button>
            </div>
        </form>
    </div>
    <div class="carousel carousel-roulette row" id="roulette">
        {% for list_item in in_list reversed %}
        <div class="carousel-item">
            <form action="{% url 'delete' list_item.title_id %}" method="post">
                {% csrf_token %}
                <img src="{{ POSTER_PATH }}{{ list_item.poster_link }}" alt="{{ list_item.title }} movie poster"
                    class="movie-poster overlay-trigger" data-titleID="{{ list_item.title_id }}"
                    data-titleType="{{ list_item.type }}">
                <button type="submit" value="" class="remove-one-title absolute"
                    data-titleID="{{ list_item.title_id }}">
                    <i class="far fa-times-circle"></i>
                </button>
            </form>
        </div>
        {% endfor %}
        {% for card in empty_card_count %}
        <div class="carousel-item relative empty-carousel-item">
            <form action="{% url 'add_title' %}" method="post">
                {% csrf_token %}
                {% for field in source_form %}
                <div class="individual-select">
                    {{field}}
                </div>
                {% endfor %}
                <button type="submit" value="" class="add-one-title absolute">
                    <i class="fas fa-plus"></i>
                </button>
            </form>
        </div>
        {% endfor %}

    </div>

    {% block rouletteimg %}
    {% include 'roulette_img.html' %}
    {% endblock %}

</div>
<div class="row">
    <div class="col s6">
        <form action="{% url 'clear_list' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-red col xl4 l5 m6 s12 waves-effect waves-red">Clear All</button>
            <!-- <input type="submit" value="Delete cat"> -->
        </form>
    </div>
    <div class="col s6">
        <button class="btn btn-blue-bright col xl4 push-xl8 l5 push-l7 m6 push-m6 s12 waves-effect waves-green"
            id="spin-it">
            Spin It!!!
        </button>
    </div>
</div>
</div>

{% endblock content %}

{% block overlay %}
{% include 'overlay.html' %}
{% endblock %}