/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Montserrat:wght@300&display=swap');

/* --------- Colour scheme */

:root {
    --off-white: #FAFAFA;
    --dark-grey: #363636;
    --darker-grey: #2c2a2a;
    --highlight-blue: #6CE5E8;
    --highlight-red: #E8736C;
}

/* --------- Global style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
    box-shadow: inset 0 0 150px 50px #000000;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: var(--darker-grey);
    color: var(--off-white);
}

input {
    height: 30px !important;
}

p {
    margin-bottom: 5%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute !important;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.fit-content {
    width: fit-content;
}

.margin-top {
    margin-top: 5%;
}

.margin-top-25 {
    margin-top: 25vh;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.header-padding {
    padding: 3vh 2vw;
    margin: 0;
}

.container, #edit-profile-pic-confirm {
    background-color: rgba(108, 229, 232, 0.1);
    padding: 0 5vw 1vh;
    border: rgba(108, 229, 232, 0.51) solid 0.1em;
    border-radius: 1vh;
}

.offerings-container {
    background-color: rgba(108, 229, 232, 0.1);
    border-top: rgba(108, 229, 232, 0.51) solid 0.1em;
    border-bottom: rgba(108, 229, 232, 0.51) solid 0.1em;
    border-radius: 1vh;
    height: 300px;
    margin-bottom: 5vh;
}

.offerings-container::before,
.offerings-container::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 10vw;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 
}

.offerings-container::after {
    top: 0;
    right: 0;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 
}

.carousel-tag {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0.5vw 0 0 4vw;
    z-index: 6;
    position: relative;
}

.carousel-offerings ~ i {
    top: 50px;
    width: 8vw;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.carousel-offerings ~ .fa-chevron-left {
    flex-direction: column-reverse;
    text-align: end;
}

.carousel-offerings ~ .fa-chevron-right {
    right: 0;
}

.container.list-container {
    width: 90%;
    margin-left: 5%;
}

.list-container .movie-poster {
    padding: 7% 3%;
}

.list-container button {
    top: 20%;
}

h1,
h2,
h3,
.logos-heading,
label {
    color: var(--off-white);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
}

.container label {
    font-size: 1.3em;
}

select {
    color: var(--off-white);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

/* Sign In page */

.row .form-input:-webkit-autofill,
.row .form-input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
  border: none;
}

.signup-container {
    width: fit-content;
    min-width: 50%;
}

.login input[type="checkbox"] {
    opacity: 1 !important;
    margin: 0.5% 0 0 0.9%;
}

label[for="id_remember"] {
    cursor: pointer;
}

.hightlight-link {
    font-size: 1.2em;
    color: var(--highlight-blue);
}

.hightlight-link:hover, .hightlight-link:focus {
    text-decoration: underline;
}

.row .form-input {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 0.7em !important;
    color: var(--off-white);
    padding-left: 4% !important;
    max-height: fit-content !important;
}

/* Button style */

button.btn,
input[type='button'],
input[type='submit'] {
    border-radius: 0.5em;
    box-shadow: 0 0 10px 5px #000000;
    box-shadow: 0 0 10px 5px #000000 inset;
    color: #000000;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
}

.btn-red {
    background-color: var(--highlight-red);
}

.btn-blue {
    background-color: rgba(108, 229, 232, 0.7);
}

.btn-blue-bright {
    background-color: rgba(108, 229, 232, 1);
}

/* Roulette carousel style */

.carousel-roulette {
    perspective: 500px;
    height: 300px;
    max-width: 620px !important;
}

.carousel .carousel-item {
    width: 150px;
    opacity: 1 !important;
}

.remove-one-title,
.add-one-title,
.close-button,
.movie-reel-button {
    opacity: 0.7;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.remove-one-title {
    bottom: -25%;
    right: 67%;
}

.add-one-title {
    bottom: 42%;
    left: 41%;
}

.remove-one-title i,
.add-one-title i,
.close-button i {
    font-size: 2.5em;
    color: var(--off-white);
}

.remove-one-title:hover,
.add-one-title:hover,
.close-button:hover,
.movie-reel-button:hover {
    opacity: 1;
}

.remove-from-list {
    top: 5vh !important;
}

.empty-carousel-item {
    background-color: #000000;
    color: #ffffff;
    height: 77% !important;
}

.movie-poster {
    cursor: pointer;
}

.movie-reel-button img {
    height: 1.2em;
    padding: 0.2em 0 0 0.4em;
}

.overlay, .contact-overlay {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(44, 42, 42, 0.94);
    color: var(--off-white);
    display: none;
    z-index: 5;
    height: auto;
}

.overlay-img {
    margin: 13% 0;
}

#overlay-heading {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.my-lists-overlay {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    margin: 5% 0;
}

.my-lists-overlay i {
    font-size: 1.2em;
    padding: 5%;
}

i[data-listed="true"] { 
    background-color: var(--highlight-blue);
}

.close-button {
    right: 0;
}

/* My Lists style */

.type-choice div select {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    height: 1.7em;
    margin: 4vh 0;
}

select option {
    background-color: var(--dark-grey) !important;
}

.lists-menu {
    color: var(--off-white);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

.lists-menu a li {
    padding: 3% 15%;
}
.lists-menu a i {
    font-size: 1.5em;
    margin: 0.6em 0;
}

.menu-profile {
    flex-wrap: wrap;
    align-content: flex-end !important;
}

.menu-profile a {
    width: fit-content;
}

.menu-profile-image {
    width: 3em;
    top: -0.5em
}

.menu-profile-placeholder-image {
    width: 3em
}

.menu-profile-image-container {
    height: 3em;
    width: 3em;
    overflow: hidden;
    border-radius: 50%;
}

.menu-profile-status {
    line-height: 1em;
}

.menu-profile-status-wrapper {
    flex-direction: column;
    justify-content: center;
    margin: 0 0.5em 0 0;
    text-align: end;
}

.menu-profile-wrapper {
    justify-content: flex-end;
}

a {
    color: inherit;
}

.shows-list {
    display: none;
}

.list-active {
    background-color: var(--highlight-blue);
    color: #000;
    border-radius: 0.3em;
    box-shadow: 0 0 10px 5px #000000;
    box-shadow: 0 0 5px 5px #000000 inset;
}

.icon-active {
    background-color: var(--highlight-blue);
}

/* Footer style */

footer {
    color: var(--off-white);
    font-size: 1.2em;
    bottom: 0;
}

footer i {
    font-size: 2.5em;
    padding: 0 0.3em;
    margin-bottom: 0.3em;
}

footer i:hover {
    color: var(--highlight-blue);
    cursor: pointer;
}

/* Navigation styling */

#roulette-logo {
    height: 22vh;
    max-height: max-content;
    position: absolute;
    top: -30%;
    padding-left: 2%
}

nav {
    background-color: unset;
    height: 15vh;
    padding-bottom: 5%;
    list-style: none;
    z-index: 5;
    position: fixed;
    top: 0;
}

.nav-wrapper {
    height: 10vh !important;
    z-index: 3;
}

.nav-content ul {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 2em 0.6em, 
                0 0 2em 1.2em inset;
    color: #000;
    height: 5em;
}

.nav-content ul li {
    width: fit-content;
    height: fit-content;
    padding: 0.5em;
    font-family: 'Be Vietnam Pro', sans-serif;
    opacity: 0.7;
}

.nav-content ul li a, #nav-mobile .log-out {
    font-size: 120%;
}

.fa-power-off {
    font-size: 150%;
}

nav ul li, .nav-mobile li a i {
    font-size: 140%;
}

nav ul li:hover, nav ul li:focus {
    opacity: 1;
}

.dropdown-trigger {
    font-size: 2em;
    padding: 0 0.6em;
    margin: 0.3em 10% 0 0;
    background-color: rgba(108, 229, 232, 0.2);
    color: var(--highlight-blue);
    border: 0.15em #000000 solid;;
}

.dropdown-trigger:hover, .dropdown-trigger:focus {
    background-color: rgba(108, 229, 232, 0.7);
}

#dropdown1 {
    background-color: var(--darker-grey);
    width: 50vw !important;
    border-radius: 0.5em;
    color: var(--off-white);
}

#dropdown1 li {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-bottom: 0.15em var(--dark-grey) solid;
}

#dropdown1 li:hover, #dropdown1 li:focus {
    border-bottom: 0.15em var(--highlight-blue) solid !important;
    background-color: rgba(108, 229, 232, 0.7) !important;
}

#dropdown1 li:nth-child(8),
#dropdown1 li:nth-child(8):hover,
#dropdown1 li:nth-child(8):focus {
    border-bottom: none !important;
}

#dropdown1 li:nth-child(8) a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

#dropdown1 li:nth-child(8):hover {
    background-color: unset !important;
}

#dropdown1 li:nth-child(8) {
    width: fit-content;
    margin-left: 10%;
}

#dropdown1 li>a>i {
    width: fit-content;
}

.dropdown-content li>a {
    color: var(--off-white);
}

#dropdown1 li:hover, #dropdown1 li:focus {
    border-bottom: 0.15 var(--highlight-blue) solid;
}

.log-out {
    color: var(--highlight-red);
}

.select2-container--default {
    background-color: #000 !important;
}

.select2-container,
.select2-container--below,
.selectmultiple,
.select2-hidden-accessible,
.select2-container--focus,
.select2-container--below {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.7em;
}

.select2-results {
    background-color: var(--darker-grey);
    max-height: 50vh;
    overflow-y: scroll;
}

.select2-container {
    height: 2em;
}

.select2-selection__rendered {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.2em;
}

.select2-selection__choice {
    margin-right: 0.2em;
}

.select2-selection__choice__remove {
    background-color: unset;
    color: white;
    border-radius: 0.5em;
    padding: 0 0.2em;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.5) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: var(--off-white) !important;
}

/* About style */

.about-logo {
    margin-bottom: -25%;
}

.contact {
    padding-top: 15vh;
}

textarea {
    height: unset;
}

/* Profile style */

.profile-container {
    padding-top: 5%;
}

.profile-inputs .form-input {
    opacity: 0.7;
}

.profile-pic {
    border-radius: 2em;
    width: -webkit-fill-available;
    padding-bottom: 10%;
}

.services-used {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

.services-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    margin-top: 2%;
    padding: 3% 5%;
}

.stream-logo {
    margin-right: 3%;
}

input[type='file'] {
    display: none;
}

label[for='id_profile_pic'] {
    cursor: pointer;
}

input[type='button'],
input[type='submit'] {
    padding: 1% 2%;
}

.confirm-continer {
    width: 100vh;
    height: 100vh;
}

#edit-profile-pic-confirm {
    position: fixed;
    top: 20%;
    left: 5%;
    width: 91%;
    background-color: rgba(44, 42, 42, 0.94);
    z-index: 15;
    padding-top: 5%;
    display: none;
}

#profile-pic_label {
    top: 30%;
    bottom: 30px;
    left: 85%;
}

#profile-pic_label i {
    font-size: 150%;
}

#profile-pic_label i:hover,
#profile-pic_label i:focus {
    color: var(--highlight-blue);
}

/* Movies Page style */

.carousel-main {
    height: 93vh;
    box-shadow: 0 0 8vw 8vw #000;
}

.info-container {
    top: 30vw;
    left: 5vw;
    line-height: 50%;
    z-index: 5;

}

.info-container,
.info-container button,
.info-container button i {
    font-size: 2vw;
}

.info-container h1 {
    font-size: 4vw;
    margin: 0;
}

.darken-background {
    background-color: #000;
    border-radius: 0.5em;
    padding: 0.3em;
    height: 3vw;
    line-height: normal;
    width: fit-content;
}

.info-container button {
    margin-top: 1vw;
    height: fit-content;
    line-height: 2em;
}

.shadow {
    top: 0;
    width: inherit;
    height: 100vh;
    box-shadow: 0 0 8vw 8vw #000 inset;
    z-index: 4;
    height: -webkit-fill-available;
}

.carousel-item ~ i,
.carousel ~ i {
    opacity: 0.6;
    font-size: 6vw;
    z-index: 6;
}

.carousel-main i {
    left: 95vw;
    top: 30vw;
    z-index: 6;
}

.carousel-main .fa-chevron-right {
    left: 85vw;
}

.carousel-main .fa-chevron-left {
    left: 83vw;
}

.fa-chevron-left:hover,
.fa-chevron-left:focus,
.fa-chevron-right:hover,
.fa-chevron-right:focus {
    opacity: 1;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    nav {
      position: unset;
    }

    .margin-top-25 {
        margin-top: 0;
    }
    
  }