{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col xl4 m5 s6">
            <img src="{{ profile_data.profile_pic }}" alt="Your Profile picture">
        </div>
        <div class="col xl8 m7 s12">
            <div class="row">
                <label class="col l3 s12" for="name">Name</label>
                <div class="col l8 s12">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly value="{{ user_data.first_name }}">
                </div>
                <label class="col l3 s12" for="name">Surname</label>
                <div class="col l8 s12">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly value="{{ user_data.last_name }}">
                </div>
                <label class="col l3 s12" for="name">Username</label>
                <div class="col l8 s12">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly value="{{ user_data.username }}">
                </div>
                <label class="col l3 s12" for="name">Email</label>
                <div class="col l8 s12">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly value="{{ user_data.email }}">
                </div>
                <label class="col l3 s12" for="name">Country</label>
                <div class="col l8 s12">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly value="{{ user_data.country }}">
                </div>
            </div>
        </div>
    </div>
    <div>Services Used</div>
    <div class="row">
        {% for stream in profile_streams %}
        <img src="{{ POSTER_BASE_URL }}/h100{{ stream.logo_path }}" alt="profile_streams.name">
        {% endfor %}
    </div>
</div>

{% endblock content %}
