{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container profile-container relative margin-top-25">
    <div class="row">
        <div class="col xl3 m4 s6">
            {% if "placeholder" in profile_data.profile_pic.url %}
            <img src="{% static 'images/placeholder.jpg' %}" width="75%" alt="Placeholder image" class="profile-pic">
            {% else %}
            <img src="{{ profile_data.profile_pic.url }}" width="75%" alt="Your profile picture" class="profile-pic">
            {% endif %}
            <label for="id_profile_pic" class="relative" id="profile-pic_label">
                <i class="fas fa-cloud-upload-alt"></i>
            </label>
            <form action="{% url 'update_picture' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="profile_pic" id="id_profile_pic">
                <div id="edit-profile-pic-confirm">
                    <p class="center-align">Are you sure you want to change your profile picture?</p>
                    <div class="row">
                        <input type="button" value="No" class="btn col m2 push-m2 s4 push-s1 deny-button">
                        <input type="submit" value="Yes" class="btn col m2 push-m6 s4 push-s3">
                    </div>
                </div>
            </form>
        </div>
        <div class="col xl8 push-xl1 m7 push-m1 s12">
            <div class="row">
                <label class="col l4 s12" for="name">Name</label>
                <div class="col l8 s12 profile-inputs">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly
                        value="{{ user_data.first_name }}">
                </div>
            </div>
            <div class="row">
                <label class="col l4 s12" for="name">Surname</label>
                <div class="col l8 s12 profile-inputs">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly
                        value="{{ user_data.last_name }}">
                </div>
            </div>
            <div class="row">
                <label class="col l4 s12" for="name">Username</label>
                <div class="col l8 s12 profile-inputs">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly
                        value="{{ user_data.username }}">
                </div>
            </div>
            <div class="row">
                <label class="col l4 s12" for="name">Email</label>
                <div class="col l8 s12 profile-inputs">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly
                        value="{{ user_data.email }}">
                </div>
            </div>
            <div class="row">
                <label class="col l4 s12" for="name">Country</label>
                <div class="col l8 s12 profile-inputs">
                    <input type="text" name="name" required_id="id_email" class="form-input" readonly
                        value="{{ profile_data.country }}">
                </div>
            </div>
        </div>
    </div>
    <div class="services-used">Services Used</div>
    <div class="row services-container">
        {% for stream in profile_streams %}
        <img src="{{ POSTER_BASE_URL }}/h100{{ stream.logo_path }}" alt="profile_streams.name" class="stream-logo">
        {% endfor %}
    </div>
    <div class="row">
        <a href="{% url 'delete_profile' %}"><button
                class="btn col xl3 push-xl2 m4 push-m1 s5 btn-red waves-effect waves-red">Delete</button></a>
        <a href="{% url 'edit_profile' %}"><button
                class="btn col xl3 push-xl4 m4 push-m3 s5 push-s2 waves-effect waves-green">Update</button></a>
    </div>
</div>

{% endblock content %}
