{% extends 'base.html' %}

{% load static %}

{% block overlay %}
{% include 'overlay.html' %}
{% endblock %}

{% block content %}

<div class="carousel carousel-slider carousel-main">
    {% for movie in movies_discover %}
    <div class="carousel-item relative">
        <img class="big-screen-poster" src="{{POSTER_BASE_URL}}original/{{movie.backdrop_path}}" alt="Image for {{movie.title}}">
        <img class="small-screen-poster" src="{{POSTER_BASE_URL}}original/{{movie.poster_path}}" alt="Image for {{movie.title}}">
        <div class="shadow absolute"></div>
        <div class="info-container absolute">
            <h1>{{movie.title}}</h1>
            <div class="darken-background">
                Released <b>{{movie.release_date}}</b> Rating <b>{{movie.vote_average}}</b>
            </div>
            <button class="btn overlay-trigger" data-titleID="{{ movie.id }}"
            data-titleType="0"></i>More Info</button>
        </div>
    </div>
    {% endfor %}
    <i class="fas fa-chevron-left absolute"></i>
    <i class="fas fa-chevron-right absolute"></i>
</div>

<div class="relative popular-container">
    <div class="carousel carousel-offerings offerings-container" id="carousel-popular">
        <div class="carousel-tag">Popular ▼</div>
        {% for movie in movies_popular %}
        <div class="carousel-item relative">
            <img src="{{ POSTER_BASE_URL }}original/{{ movie.poster_path }}" alt="{{ movie.title }} movie poster"
            class="overlay-trigger" data-titleID="{{ movie.id }}"
            data-titleType="0">
        </div>
        {% endfor %}
    </div>
    <i class="fas fa-chevron-left popular absolute"></i>
    <i class="fas fa-chevron-right popular absolute"></i>
</div>

<div class="relative top-rated-container">
    <div class="carousel carousel-offerings offerings-container" id="carousel-top-rated">
        <div class="carousel-tag">Top Rated ▼</div>
        {% for movie in movies_top_rated %}
        <div class="carousel-item relative">
            <img src="{{ POSTER_BASE_URL }}original/{{ movie.poster_path }}" alt="{{ movie.title }} movie poster"
            class="overlay-trigger" data-titleID="{{ movie.id }}"
            data-titleType="0">
        </div>
        {% endfor %}
    </div>
    <i class="fas fa-chevron-left absolute"></i>
    <i class="fas fa-chevron-right absolute"></i>
</div>

{% endblock content %}
