{% load static %}

{% url 'account_login' as signin_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as signout_url %}
{% url 'account_reset_password' as reset_password %}
{% url 'about' as about_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Roulette</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Link to local CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/roulette.css">

    <!-- Link to select2 css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <ul id="dropdown1" class="dropdown-content">
        {% if user.is_authenticated %}
        <li><a href="#">Movies</a></li>
        <li><a href="#">TV Shows</a></li>
        <li><a href="/">Roulette</a></li>
        <li><a href="/mylists/favourites">My Lists</a></li>
        <li><a href="{{ about_url }}">About</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="{{ signout_url }}"><i class="fas fa-power-off log-out"> Sign Out</i></a>
        {% else %}
        <li><a href="#">home</a></li>
        <li><a href="{{ signin_url }}">Sign In</a></li>
        <li><a href="{{ signup_url }}">Sign Up</a></li>
        <li><a href="{{ about_url }}">About</a></li>
        {% endif %}
    </ul>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" style="float: left;">
                <img id="roulette-logo" src="{% static 'images/movie-roulette-logo.png' %}" alt="Movie Roulette logo">
            </a>
            <ul id="nav-mobile" class="right">
                <li class="hide-on-med-and-down"><a href="{{ signout_url }}" class="log-out">Sign Out</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger hide-on-large-only" href="#!" data-target="dropdown1">&#9776;</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="hide-on-med-and-down valign-wrapper">
                {% if user.is_authenticated %}
                <li><a href="#">Movies</a></li>
                <li><a href="#">TV Shows</a></li>
                <li><a href="/">Roulette</a></li>
                <li><a href="/mylists/favourites">My Lists</a></li>
                <li><a href="{{ about_url }}">About</a></li>
                <li><a href="#">Search</a></li>
                {% else %}
                <li><a href="#">Home</a></li>
                <li><a href="{{ signin_url }}">Sign In</a></li>
                <li><a href="{{ signup_url }}">Sign Up</a></li>
                <li><a href="{{ about_url }}">About</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

        {% block overlay %}
        {% endblock %}

    </main>

    <footer class="row">
        <div class="col l4 push-l4 s5 center-align">
            <a href="https://github.com/simasjakubenas" aria-label="link to simas's github account" target="_blank"
                rel="noopener">
                <i class="fab fa-github-square"></i>
            </a>
            <a href="https://linkedin.com/in/simasjakubenas" aria-label="link to simas's linkedin account"
                target="_blank" rel="noopener">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div class="col l5 push-l3 s7">
            Developed by SImas Jakubenas for educational purposes only 2024
        </div>
    </footer>

    <!-- Import Fontawesome script -->
    <script src="https://kit.fontawesome.com/b83175b9a4.js" crossorigin="anonymous"></script>
    <!-- Import jQuery library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Import Local JavaScript -->
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>

</html>