{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Roulette</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Link to local CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/roulette.css">

</head>

<body>

    <ul id="dropdown1" class="dropdown-content">
        {% if user.is_authenticated %}
        <li><a href="#">Movies</a></li>
        <li><a href="#">TV Shows</a></li>
        <li><a href="#">Roulette</a></li>
        <li><a href="#">My Lists</a></li>
        <li><a href="#">Search</a></li>
        {% else %}
        <li class=""><a href="#">Sign In</a></li>
        <li class=""><a href="#">Sign Up</a></li>
        {% endif %}
        <li class=""><a href="#">About</a></li>
    </ul>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li class="hide-on-small-only"><a href="#">Movies</a></li>
            <li class="hide-on-small-only"><a href="#">TV Shows</a></li>
            <li class="hide-on-small-only"><a href="#">Roulette</a></li>
            <li class="hide-on-small-only"><a href="/mylists/favourites">My Lists</a></li>
            <li class="hide-on-small-only"><a href="#">Search</a></li>
            {% else %}
            <li class="hide-on-small-only"><a href="#">Sign In</a></li>
            <li class="hide-on-small-only"><a href="#">Sign Up</a></li>
            {% endif %}
            <li class="hide-on-small-only"><a href="#">About</a></li>
        </ul>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger hide-on-med-and-up" href="#!" data-target="dropdown1">&#9776;</a></li>


    </nav>

    <main>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

        {% block overlay %}
        {% endblock %}

    </main>

    <footer class="row">
        <div class="col l4 push-l4 s5 center-align">
            <a href="https://github.com/simasjakubenas" aria-label="link to simas's github account" target="_blank"
                rel="noopener">
                <i class="fab fa-github-square"></i>
            </a>
            <a href="https://linkedin.com/in/simasjakubenas" aria-label="link to simas's linkedin account"
                target="_blank" rel="noopener">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div class="col l5 push-l3 s7">
            Developed by SImas Jakubenas for educational purposes only 2024
        </div>
    </footer>

    <!-- Import Fontawesome script -->
    <script src="https://kit.fontawesome.com/b83175b9a4.js" crossorigin="anonymous"></script>
    <!-- Import jQuery library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Import Local JavaScript -->
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>