{% load static %}

{% url 'account_login' as signin_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as signout_url %}
{% url 'account_reset_password' as reset_password %}
{% url 'about' as about_url %}
{% url 'my_lists' as my_lists %}
{% url 'roulette_list' as roulette_list_url %}
{% url 'search' as search_url %}
{% url 'profile' as profile_url %}
{% url 'edit_profile' as edit_profile %}
{% url 'delete_profile' as delete_profile %}
{% url 'movie_releases' as movie_releases %}
{% url 'show_releases' as show_releases %}
{% url 'preview' as preview_url %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Roulette</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Link to local CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/roulette.css">

    <!-- Link to select2 css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <ul id="dropdown1" class="dropdown-content">
        {% if user.is_authenticated %}
        <li><a href="{{ movie_releases }}">Movies</a></li>
        <li><a href="{{ show_releases }}">TV Shows</a></li>
        <li><a href="{{ roulette_list_url }}">Roulette</a></li>
        <li><a href="{{ my_lists }}">My Lists</a></li>
        <li><a href="{{ about_url }}">About</a></li>
        <li><a href="{{ search_url }}">Search</a></li>
        <li class="menu-profile">
            {% if user.is_authenticated %}
            <a href="{{ profile_url }}" aria-label="Link to your profile" class="margin-top">
                <div class="menu-profile-wrapper flex">
                    <div class="menu-profile-status-wrapper flex">
                        <div class="menu-profile-status">
                            <b>{{ user_data.username }}</b>
                        </div>
                        <div class="menu-profile-status">
                            Signed In
                        </div>
                    </div>
                    <div class="menu-profile-image-container">
                        {% if "placeholder" in profile_data.profile_pic.url %}
                        <img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder profile image"
                            class="menu-profile-placeholder-image relative">
                        {% else %}
                        <img src="{{ profile_data.profile_pic.url }}" alt="Your profile picture"
                            class="menu-profile-image relative">
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endif %}
        </li>
        <li><a href="{{ signout_url }}"><i class="fas fa-power-off log-out"> Sign Out</i></a></li>
        {% else %}
        <li><a href="/">home</a></li>
        <li><a href="{{ signin_url }}">Sign In</a></li>
        <li><a href="{{ signup_url }}">Sign Up</a></li>
        <li><a href="{{ about_url }}">About</a></li>
        {% endif %}
    </ul>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            {% if user.is_authenticated %}
            <a href="/movies/" style="float: left;">
            {% else %}
            <a href="/" style="float: left;">
            {% endif %}
                <img id="roulette-logo" src="{% static 'images/movie-roulette-logo.png' %}" alt="Movie Roulette logo">
            </a>
            <ul id="nav-mobile" class="right">
                {% if user.is_authenticated %}
                <li class="hide-on-med-and-down">
                    <a href="{{ signout_url }}" class="log-out">
                        Sign Out
                    </a>
                </li>
                <li class="hide-on-med-and-down menu-profile">
                    <a href="{{ profile_url }}" aria-label="Link to your profile" class="margin-top">
                        <div class="menu-profile-wrapper flex">
                            <div class="menu-profile-status-wrapper flex">
                                <div class="menu-profile-status">
                                    <b>{{ user_data.username }}</b>
                                </div>
                                <div class="menu-profile-status">
                                    Signed In
                                </div>
                            </div>
                            <div class="menu-profile-image-container">
                                {% if "placeholder" in profile_data.profile_pic.url %}
                                <img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder profile image"
                                    class="menu-profile-placeholder-image relative">
                                {% else %}
                                <img src="{{ profile_data.profile_pic.url }}" alt="Your profile picture"
                                    class="menu-profile-image relative">
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </li>
                {% endif %}
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger hide-on-large-only" href="#!" data-target="dropdown1">&#9776;</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="hide-on-med-and-down valign-wrapper">
                {% if user.is_authenticated %}
                <li><a href="{{ movie_releases }}">Movies</a></li>
                <li><a href="{{ show_releases }}">TV Shows</a></li>
                <li><a href="{{ roulette_list_url }}">Roulette</a></li>
                <li><a href="{{ my_lists }}">My Lists</a></li>
                <li><a href="{{ about_url }}">About</a></li>
                <li><a href="{{ search_url }}">Search</a></li>
                {% else %}
                <li><a href="/">Home</a></li>
                <li><a href="{{ signin_url }}">Sign In</a></li>
                <li><a href="{{ signup_url }}">Sign Up</a></li>
                <li><a href="{{ about_url }}">About</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>

        {% block overlay %}
        {% endblock %}

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <footer class="row">
        <div class="col l4 push-l4 s5 center-align">
            <a href="https://github.com/simasjakubenas" aria-label="link to simas's github account" target="_blank"
                rel="noopener">
                <i class="fab fa-github-square"></i>
            </a>
            <a href="https://linkedin.com/in/simasjakubenas" aria-label="link to simas's linkedin account"
                target="_blank" rel="noopener">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div class="col l5 push-l3 s7">
            Developed by SImas Jakubenas for educational purposes only 2024
        </div>
    </footer>

    <!-- Import Fontawesome script -->
    <script src="https://kit.fontawesome.com/b83175b9a4.js" crossorigin="anonymous"></script>
    <!-- Import jQuery library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-expander@2.0.2/jquery.expander.min.js"></script>
    <!-- Import Local JavaScript -->
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>

</html>