{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row margin-top-25">
    <div class="col l2 push-l1 s12">
        <div class="row">
            <form method="post" class="col l12 m3 push-m8 s6 push-s5 type-choice" id="list-type-form"
                data-list-type-url="{% url 'list-type' %}">
                {% csrf_token %}
                <div class="row main-select individual-select list-type">
                    {{ source_form.type}}
                    {{ source_form.load_all}}
                </div>
            </form>
        </div>
        <ul class="lists-menu row">
            <div class="col l12 m3 s2 push-s2 center-align">
                <i class="far fa-heart hide-on-med-and-up"></i>
                <li class="hide-on-small-only list-menu-item list-active" data-list="favourites">Favourite</li>
            </div>
            <div class="col l12 m3 s2 push-s2 center-align">
                <i class="fas fa-plus hide-on-med-and-up"></i>
                <li class="hide-on-small-only list-menu-item" data-list="watchlist">Watchlist</li>
            </div>
            <div class="col l12 m3 s2 push-s2 center-align">
                <i class="fas fa-check hide-on-med-and-up"></i>
                <li class="hide-on-small-only list-menu-item" data-list="seen_it">Seen It</li>
            </div>
            <div class="col l12 m3 s2 push-s2 center-align">
                <i class="fas fa-times hide-on-med-and-up"></i>
                <li class="hide-on-small-only list-menu-item" data-list="dont_show">Don't Show</li>
            </div>
        </ul>
    </div>
    <div class="col l9 push-l1 s12">
        <div class="container row relative" id="list-container">

            {% block list %}
            {% endblock %}

        </div>
    </div>
</div>

{% endblock %}

{% block overlay %}
{% include 'overlay.html' %}
{% endblock %}