{% load static %}

{% for list_item in in_list reversed %}
<div class="overlay absolute">
    <div class="container relative">
        <button class="close-button absolute">
            <i class="far fa-times-circle"></i>
        </button>
        <div class="row">
            <div class="col xl4 m4 s12">
                <div class="row">
                    <img src="{{ POSTER_PATH }}{{ list_item.poster_link }}" class="col s10 push-s1 overlay-img">
                    <button class="btn btn-blue col m12 s10 push-s1">
                        <i class="far fa-play-circle"></i>
                        Watch Trailer
                    </button>
                </div>
            </div>
            <div class="col xl7 push-xl1 m8 s12">
                <h3 class="overlay-heading">
                    {{ list_item.title }}
                    <form action="{% url 'add_title' %}" method="post" class="inline">
                        {% csrf_token %}
                        <button type="submit" value="" class="movie-reel-button relative">
                            <img src="/static/images/movie-reel.png" alt="Image of movie reel">
                        </button>
                    </form>
                </h3>
                <p>
                    {% if list_item.type == 0 %}
                    Release Year <span>{{ list_item.date }}</span>
                    Runtime <span class="runtime">{{ list_item.runtime }}</span>
                    {% else %}
                    First Aired <span>{{ list_item.date }}</span>
                    Seasons <span class="seasons"></span>
                    {% endif %}
                </p><br>
                <p>
                    <span>tmdb</span> star <span>{{ list_item.tmdb_rating }}</span>
                    {% if list_item.type == 0 %}
                    <span class="age-limit"></span>
                    {% else %}
                    <span class="status"></span>
                    {% endif %}
                </p><br>
                <p class="genres"></p><br>
                <p>{{ list_item.description }}</p>
                <br>
                <div class="row">
                    <div class="col xl3 m5 s4">Cast:</div>
                    <div class="col xl9 m7 s8 cast"></div>
                </div>
                <div class="row">
                    <div class="col xl3 m5 s4">
                        {% if list_item.type == 0 %}
                        Directed By:
                        {% else %}
                        Created By:
                        {% endif %}
                    </div>
                    <div class="col xl9 m7 s8 director creator"></div>
                </div>
                <div class="my-lists-overlay row">
                    <span class="col m4 s12">My Lists:</span>
                    <div class="col m8 s12">
                        <i class="far fa-heart add-to-list add-to-favourites" data-titleID="{{ list_item.title_id }}" data-in-list="is_in_favourites"
                            {% if list_item.is_in_favourites %} data-listed="true" {% endif %}></i>
                        <i class="fas fa-plus add-to-list add-to-watchlist" data-titleID="{{ list_item.title_id }}" data-in-list="is_in_watchlist"
                            {% if list_item.is_in_watchlist %} data-listed="true" {% endif %}></i>
                        <i class="fas fa-check add-to-list add-to-seen-it" data-titleID="{{ list_item.title_id }}" data-in-list="is_in_seen_it"
                            {% if list_item.is_in_seen_it %} data-listed="true" {% endif %}></i>
                        <i class="fas fa-times add-to-list add-to-dont-show" data-titleID="{{ list_item.title_id }}" data-in-list="is_in_dont_show"
                            {% if list_item.is_in_dont_show %} data-listed="true" {% endif %}></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 my-lists-overlay">
                    Available On:
                </div>
                <div class="col xl9 s12 providers"></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}