{% load static %}

<div class="overlay absolute">
    <div class="container overlay-container relative">
        <button class="close-button absolute">
            <i class="far fa-times-circle"></i>
        </button>
        <div class="row">
            <div class="col xl4 m4 s12">
                <div class="row">
                    <img src="" class="col s10 push-s1 overlay-img">
                    <button class="btn btn-blue col s10 push-s1">
                        Watch Trailer
                    </button>
                </div>
            </div>
            <div class="col xl7 push-xl1 m8 s12">
                <h3 id="overlay-heading">
                    <span></span>
                    <form action="{% url 'add_title' %}" method="post" class="inline">
                        {% csrf_token %}
                        <button type="submit" value="" class="movie-reel-button relative">
                            <img src="/static/images/movie-reel.png" alt="Image of movie reel">
                        </button>
                    </form>
                </h3>
                <div>
                    <span id="release-year"></span>
                    <span id="first-aired"></span>
                    <span id="date" class="bold"></span>
                    <span id="runtime"></span>
                    <span id="runtime-minutes" class="bold"></span>
                    <span id="seasons"></span>
                    <span id="seasons-count" class="bold"></span>
                </div><br>
                <div>
                    <span class="bold" id="tmdb">TMDB</span>
                    <span id="star">&#9733</span>
                    <span id="rating" class="bold"></span>
                    <span id="age-limit" class="bold overlay-highlight"></span>
                    <span id="status" class="bold overlay-highlight"></span>
                </div>
                <br>
                <div id="genres"></div>
                <br>
                <div id="title-description" class="truncate-overflow"></div>    
                <br>
                <div class="row">
                    <div class="col xl3 m5 s4">Cast:</div>
                    <div class="col xl9 m7 s8 truncate-overflow" id="cast"></div>
                </div>
                <div class="row">
                    <div class="col xl3 m5 s4" id="crew">
                    </div>
                    <div class="col xl9 m7 s8 truncate-overflow" id="crew-list"></div>
                </div>
                <div class="my-lists-overlay row">
                    <span class="col m4 s12">My Lists:</span>
                    <div class="col m8 s12">
                        <i class="far fa-heart add-to-list add-to-favourites" data-titleID="{{ list_item.title_id }}" data-in-list="is_in_favourites"
                            {% if list_item.is_in_favourites %} data-listed="true" {% endif %}></i>
                        <i class="fas fa-plus add-to-list add-to-watchlist" data-titleID="{{ list_item.title_id }}" data-in-list="is_in_watchlist"
                            {% if list_item.is_in_watchlist %} data-listed="true" {% endif %}></i>
                        <i class="fas fa-check add-to-list add-to-seen-it" data-titleID="{{ list_item.title_id }}" data-in-list="is_in_seen_it"
                            {% if list_item.is_in_seen_it %} data-listed="true" {% endif %}></i>
                        <i class="fas fa-times add-to-list add-to-dont-show" data-titleID="{{ list_item.title_id }}" data-in-list="is_in_dont_show"
                            {% if list_item.is_in_dont_show %} data-listed="true" {% endif %}></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 my-lists-overlay">
                    Available On:
                </div>
                <div class="col xl9 s12" id="providers"></div>
            </div>
        </div>
    </div>
</div>
