{% load static %}

<div class="roulette-image">
    <div class="roulette-image-over relative">
        <div class="roulette-image-big-hole5 absolute">
            <div class="roulette-image-big-hole5-background absolute"></div>
        </div>
        <div class="roulette-image-big-hole5-shadow absolute"></div>
        <div class="roulette-image-big-hole4 absolute">
            <div class="roulette-image-big-hole4-background absolute"></div>
        </div>
        <div class="roulette-image-big-hole4-shadow absolute"></div>
        <div class="roulette-image-big-hole3 absolute">
            <div class="roulette-image-big-hole3-background relative"></div>
        </div>
        <div class="roulette-image-big-hole3-shadow absolute"></div>
        <div class="roulette-image-big-hole2 absolute">
            <div class="roulette-image-big-hole2-background relative"></div>
        </div>
        <div class="roulette-image-big-hole2-shadow absolute"></div>
        <div class="roulette-image-big-hole1 absolute">
            <div class="roulette-image-big-hole1-background relative"></div>
        </div>
        <div class="roulette-image-big-hole1-shadow absolute"></div>
    </div>